:root{
    --background-color: rgb(255, 255, 255) ;
    --light-color:rgb(170, 202, 209);
    --dark-color:rgb(17, 19, 20);
    --link-color:rgb(74, 85, 87);
}
.container{
    max-width:1080px;
    margin: 0 auto;
}

masthead{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em 2 em;
    background-color: var(--dark-color);
    color: var(--light-color);
    margin-bottom: 1em;
}

masthead h1{
    margin-right: auto;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 auto 0 0;
}

masthead img{
    display: inline-block;
    align-self: center;
    width: auto;
    height: 2.5em;
    margin-right: .5em;
}

masthead ul{
    padding-inline-start: 0;

}

masthead li{
    list-style: none;
    display: inline-block;
    padding: 0 20 px;
}

masthead a{
    text-decoration: none;

}

@media only screen and (max-width:768px){
    body{ font-size: 16px;}
    masthead{
        text-align: center;
        flex-flow: column nowrap;
    }
    masthead ul{
        margin-bottom: 0;
    }
    masthead h1{
        margin-right: 0;
    }
    masthead img{
        margin-right: 0;
    }

    #content{
        padding: 1em;
        gap: 1em;
        grid-template-columns: 1fr;
    }
    .main{
        order: 1;
    }

    .sidebar{
        order: 2s;
    }
}

#content{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2em;
    margin-bottom: 1em;
    background-color: var(--background-color);
    color: var(--light-color);
    padding: 2em;
}

h2{
    color: var(--light-color);
}

.sidebar-post{
    margin-bottom: 1em;
    .post-stuff{
        display: flex;
        align-items: flex-start;
    }
    p{
        margin-top: 0;

    }
    img{
        width: 33%;
        height: auto;
        display: block;
        margin-right: 1em;
    }
}

.big-post{
    border:1px solid var(--dark-color);
    margin-bottom: 1em;
    .img-container{
        aspect-ratio: 4/3;
    }
    img{
        width: 100%;
        height: auto;
        display: block;
    }
}

